@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,100&display=swap');
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.btn{
  box-shadow: 5px 5px 10px #191b1b, -5px -5px 10px #595959;
  background-color: #333;
  color: grey;
  margin: 10px 0;
  border-radius: 50px;
  border: none;
}


.nav{
  background-color: #333;
  color: grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  height: 150px;
  font-size: 1.2rem;
}


.nav-links{
  display: flex;
  gap: 20px;
  list-style: none;
  font-family: 'Lato', sans-serif;
}

.home, .about, .portfolio, .skills, .contact{
text-decoration: none;
padding: 10px 20px;
margin: 0 10px;
cursor: pointer;
}

.nav li{
  text-transform: uppercase;
}

.site-title{
  font-size: 2rem;
  font-family: 'Satisfy', cursive;
  margin: 0 2rem;
  padding: 0 0.5rem;

}

.site-title:hover{
  color: red;
}

.nav a{
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;
}

.nav li:hover{
  color: red;
}

.nav li{
  color: grey;
}

.nav-icon{
  display: none;
  font-size: 2rem;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .nav-icon{
    display: block;
    font-size: 3rem;
  }

  .nav-links{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    top: 130px;
    left: 2%;
    right: 10%;
    background-color: #333;
  }

  .nav-links.active{
   left: -100%;
  }

  .nav li{
    padding: 10px;
    margin-left: 7rem;
    font-size: x-large;
  }

  .btn-title, .site-title{
    visibility: hidden;
  }
}